/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.menu-icon {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  display: none;
}

.menu {
  display: inline;
  margin: 0px 5px;
}

@media screen and (max-width: 800px){
  .menu{
    display: none;
  }

  .menu-icon{
    display: block;
  }
}
